# macOS
.DS_Store

# Xcode user/workspace data
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate

# Build artifacts
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Fastlane / temporary
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
tmp/

